<h2>Order {{order}}</h2>
<h3>total price: {{order.total_price}}</h3>
{% for a in order.detail.all %}
    <h5>{{a.item}}</h5>
{% endfor %}
<!-- <h3>Items:</h3>
<ul>
    
    {% for detail in details %}
        {% for item in items %}
            {% if item.orderdetail_set.count > 0 %}
                <h1>{{item}} - quantity: {{item.orderdetail_set.count}}</h1>
            {% endif %}    
        {% endfor %}    
                
    {% endfor %}
</ul> -->

<br>
<br>
<br>

<h2>Add new items:</h2>
<br>
<form action="/shop/order/open/{{order}}" method="post">
    {% csrf_token %}
    {% for item in items %}
        <label for="quantity_{{item.id}}">{{item.name}}</label>
        {% if item in detailitems %}
            <input type="number" name="quantity_{{item.id}}" value="{{item.orderdetail_set.count}}">
        {% else %}       
            <input type="number" name="quantity_{{item.id}}" value="0">
        {% endif %}
        <br>
        <br>
    {% endfor %}
    <input type="submit" value="Submit">
</form>




